/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6:rgb(143, 142, 142);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  font-size: 0.875rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}





button {
  -webkit-tap-highlight-color: white;
}
button .show-text .settings-btn{
  -webkit-tap-highlight-color: white;
  user-select: none;
  -webkit-user-select: none;
}
.container1 {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  height: 100%; 
  margin: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left) !important;
}

@media (prefers-color-scheme: dark) {
  body, .container {
      background-color: #666;
      color: #eee;
  }
  h1 {
      color: #EEE;
  }
}
@media(-ms-high-contrast:active ){
  
}

 /* Desktop mini-mode */
@media (max-width: 260px) {
  header {
      display: none;
  }
}
@media (max-height: 400px) and (max-width: 450px) {
  .container {
      justify-items: center;        
      max-width: 100%;
  }

  #memory, #button_clear, #button_info {
      display: none;
  }
}
@media (max-height: 290px) {
  #display output {
      font-size: 10vh;
  }
  #buttons button {
      background-color: silver;
      padding: 1vh 0;
      font-size: 8vh !important;
  }
  #cursor {
      display: none;
  }
}  


/* Nav*/
nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-black);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-black);
  transform: rotate(90deg);
}
.logo {
  height: 4.5rem;
}
.links a {
  color: var(--clr-black);
  font-size: 1rem;
  text-transform: capitalize;
  text-decoration: none;
  padding: 1px;
  line-height: 2.5;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-black);
  color: var(--clr-white);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;

  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }

  
}

/* Home
header  {
  min-height: 100vh;
  background: linear-gradient(rgba(230, 243, 244, 0.5), rgba(0, 0, 0, 0.7)),
  url(./Images/OloriSketch.png)center/cover no-repeat;*/
     

.bg-photo {
  z-index: -9;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 45%;
  background-image: url(./Images/OloriSketch.png);
  background-repeat: no-repeat;
  background-size: auto;
}
     

.banner {
min-height: 90vh;
position: fixed;
 margin: auto;
 padding: 5rem;
    height: 100%;
    display: flex;
 justify-content: center;
    align-items: center;
    vertical-align: baseline;
}

.section-center h4{
  font-family: 'Andada Pro', serif;
color: var(--clr-black);
text-transform: uppercase;
margin-top: auto;
letter-spacing: 1.5px;
font-size: 1.6em;
font-weight: 700;
margin: auto;
margin-bottom: 2rem;
}



.section-center h1{
  font-family: 'Andada Pro', serif;
color: var(--clr-black);
text-transform: uppercase;
margin-top: auto;
letter-spacing: 1.5px;
font-size: 2em;
font-weight: 800;
margin: auto;
margin-bottom: 2rem;
}
.section-center p{
  font-family: 'Andada Pro', serif;
  justify-self: center;
align-content: center;
color: var(--clr-black);
margin: auto;
font-size: 1.5em;
font-weight: 600;
margin-bottom: 1.25rem;
letter-spacing: 2px;
}
.socials {
width: 100%;
justify-self: center;
align-content: center;
display: inline-block;
margin: -5px;
font-size: 0.875rem;
cursor: pointer;
padding-bottom: 2rem;
}
.socials li{
margin: 0px 12px 0px 0px;
display: inline-block;
}
.socials a {
font-size: 1.5rem;
margin: 0 0.5rem;
color: var(--clr-black);

}

.socials a:hover {
color: rgb(73, 52, 52);
}


/* ABOUT */
.sec{
  font-family: 'Andada Pro', serif;
}
.underline {
  width: 3rem;
  height: 0.25rem ;
  margin-bottom: 4rem;
  background: black;
  margin-left: auto;
  margin-right: auto;
}
.title {
  margin-bottom: 1.5rem;
  text-align: center;
  color: black;
  font-weight: 800;
}




article .text{
  font-family: 'Andada Pro', serif;
text-transform: capitalize;
  letter-spacing: 2px;
  margin: auto;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #000;
}

.skills h2{
  font-weight: 800;
  color: #000;
}

.skills p {
  font-weight: 600;
  color: #000;
}


/* Contact*/
.content{
  margin: 30px;
  align-items: center;
}

.content h1 {
  font-family: 'Andada Pro', serif;
  font-size: 48px;
  line-height: 80px;
}

.content p{
  font-family: 'Andada Pro', serif;
  align-items: center;
  color: var(--clr-black);
  

}
